<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />

	<springProperty name="LOG_PATH" source="logging.path"
		defaultValue="logs/" />
	<springProperty name="LOG_FILE" source="logging.file"
		defaultValue="smartpath-feeder-service.log" />

	<appender name="FILE"
		class="ch.qos.logback.core.helpers.NOPAppender" />

	<appender name="MY_CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="aero.sitalab.idm.feed.filters.MaskLoggingFilter">
				<maskPattern>\"username\"\s*:\s*\"(.*?)\"</maskPattern>
				<maskPattern>\"password\"\s*:\s*\"(.*?)\"</maskPattern> 
				<maskPattern>\"token\"\s*:\s*\"(.*?)\"</maskPattern> 
				<maskPattern>\"auth\"\s*:\s*\"(.*?)\"</maskPattern> 
				<maskPattern>\"apikey\"\s*:\s*\"(.*?)\"</maskPattern> 
				<maskPattern>\"apiKey\"\s*:\s*\"(.*?)\"</maskPattern> 
				<maskPattern>\"family-name\"\s*:\s*\"(.*?)\"</maskPattern> 
				<maskPattern>\"given-names\"\s*:\s*\"(.*?)\"</maskPattern> 
				<maskPattern>\"date-of-birth\"\s*:\s*\"(.*?)\"</maskPattern> 
				<maskPattern>\"gender\"\s*:\s*\"(.*?)\"</maskPattern> 
				<maskPattern>\"mrz\"\s*:\s*\"(.*?)\"</maskPattern> 
				<maskPattern>\"biometric\"\s*:\s*\"(.*?)\"</maskPattern> 
				<pattern>%date{HH:mm:ss.SSS} [%X{transactionId}] %-5level %logger{5} - %replace(%msg){'[\r\n]', ''}%n</pattern>
			</layout>
		</encoder>
	</appender>

	<springProfile name="default,production,staging,dev,local">
		<include
			resource="org/springframework/boot/logging/logback/console-appender.xml" />
		<root level="INFO">
			<appender-ref ref="MY_CONSOLE" />
			<appender-ref ref="FILE" />
		</root>
	</springProfile>

</configuration>